MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=CHANGE_ME

MONGO_APP_DB=ons
MONGO_APP_USERNAME=ons_app
MONGO_APP_PASSWORD=CHANGE_ME

# Connection string will be like:
# mongodb://ons_app:<MONGO_APP_PASSWORD>@localhost:27017/ons?authSource=ons
# mongodb://<MONGO_APP_USERNAME>:<MONGO_APP_PASSWORD>@localhost:<MONGO_PORT>/<MONGO_APP_DB>?authSource=<MONGO_APP_DB>

MONGO_PORT=27017
MONGO_EXPRESS_PORT=8081

MONGO_EXPRESS_USERNAME=devadmin
MONGO_EXPRESS_PASSWORD=CHANGE_ME
